.photo-grid-wrapper {
    width: 100%;
    overflow: hidden;
}

.photo-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 15rem);
    width: 90%;
    max-height: 50%;
}

.photo-item {
    width: 50%;
    object-fit: cover;
}